/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app
/bootstrap
/config
/database
/lang
/routes
/storage
/tests
composer.json
composer.lock
package-lock.json
phpunit.xml
postcss.config.js
tailwind.config.js
vite.config.js
artisan
.styleci.yml